build/
.vscode/
.idea
source/_build/
pushall.sh
os-lectures
# This is an image, so ghostscript is not called
lpr -o ppi=440/usr/share/doc/cups/images/cups-block-diagram.gif
# This PostScript file doesn't use any fonts
lpr /usr/share/ghostscript/<version>/examples/tiger.ps
# This PostScript file uses fonts
lpr /usr/share/ghostscript/<version>/examples/alphabet.ps
